body {
    font-size:11pt;
    font-family:verdana, tahoma, arial, sans-serif;
    background:lightblue;
}

a {
    color:steelblue;
}

a:hover {
    color:orange;
}

h1 {
    font-size:20pt;
    font-weight: normal;
}


#wrap {
    margin:30px;
    border:1px solid black;
    background:white;
    padding:20px;
}

#navigation {
    float:left;
    width:250px;
}

#content {
    padding-left:31px;
    margin-left:260px;
}

#pagemeta {
    font-size:85%;
    margin-top:20px;
    text-align: right;
}

#navigation a {
    text-decoration:none;
}

#navigation ul {
    margin-left:0;
    padding:0;
    list-style-type: none;
}

#navigation ul ul {
    margin-left:20px;
    list-style-type:disc;
}