body {
    font-size:11pt;
    font-family:arial, verdana, tahoma, sans-serif;
    background:lightblue;
}

#wrap {
    width:980px;
    border:1px solid black;
    margin:0 auto;
    background:white;
    padding:20px;
}

#navigation {
    float:left;
    width:200px;
}

#content {
    padding-left:220px;
}

#pagemeta {
    font-size:85%;
    margin-top:20px;
    text-align: right;
}

#navigation ul {
    margin-left:0;
    padding:0;
    list-style-type: none;
}

#navigation ul ul {
    margin-left:20px;
    list-style-type:disc;
}